<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>{{ appName }} 💸</h1>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        @for (item of [
        { title: 'Listings', link: '/listings' },
        { title: 'My Listings', link: '/my-listings' },
        { title: 'New Listing', link: '/new-listing' },
        ]; track item.title) {
        <a class="pill" [href]="item.link">
          <span>{{ item.title }}</span>
        </a>
        }
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
  </div>
</main>